.common{
    text-align: center;
    position: static;
}

h1{
    color: white;
    text-align: center;
}

p{
    color: white;
    text-align:left;
}
.header{
    text-align: center; 
    background-color: rgb(165, 198, 169);
    height:150px;
}

.mainbody{
    background-color: rgb(50, 130, 105);
    width: 100%;
    color: white;
    line-height: 25px;
}

.footer{
    height: 75px;
    background-color: rgb(165, 198, 169);
    color: white;
    line-height: 25px;
}

a{
    color: white;
}